.login-main {
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 90px 0 90px 0;
    background: url("../image/bgoc3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  
  .signup-main {
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 90px 0 90px 0;
    background: url("../image/bgoc2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

  .info-main {
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 90px 0 90px 0;
    background: url("../image/bgoc1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

  .sub-main {
    display: flex;
    border-radius: 10px;
    height: 500px;
    width: 500px;
    background-color: #FFFFFF;
  }
  
  .sub-main1 {
    margin: auto;
    width: 70%;
  }

  .search {
    display: flex;
    justify-content: center;
    width: 35%;
    align-items: center;
    margin-left: 460px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  
  .list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
  }
