.login-main {
  align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 90px 0 90px 0;
    background: url("../image/bgoc3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  
  .signup-main {
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 90px 0 90px 0;
    background: url("../image/bgoc2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
  }

  .info-main {
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 90px 0 90px 0;
    background: url("../image/bgoc1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
  }

  .sub-main {
    display: flex;
    border-radius: 10px;
    height: 80%;
    width: 40%;
    background-color: #FFFFFF;
  }
  
  .sub-main1 {
    margin: auto;
    width: 80%;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
  }

  .err {
    display: inline;
    color: red;
  }

  .x {
    display: flex;
    justify-content: space-between;
  }

  .avatar {
    display: flex;

    margin-top: 15px;
  }
