.header {
    background-color: #00FFFF;
    padding: 10px;
    display: inline;
    margin-bottom: 15px;
    overflow: hidden;
    display:flex;
  }

.logo {
  font-family: Lexend;
  color: white;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.top {
  background-color: #e6fffb;
  padding-bottom: 10px;
}