.main {
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 90px 0 90px 0;
  background-color: beige;
}

.sub-main {
  display: flex;
  border-radius: 10px;
  height: 500px;
  width: 500px;
  background-color: #FFFFFF;

}

h1 {
  text-align: center;
}

input {
  height: 50px;
  width: 400px;
  border-radius: 5px;
  padding-left: 25px;
}

.password {
  padding-top: 20px;
  padding-bottom: 20px;
}

button {
  background-color: blue;
  border-radius: 5px;
  height: 50px;
  width: 400px;
  color: white;
}