.main {
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 90px 0 90px 0;
}

.sub-main {
  display: flex;
  border-radius: 10px;
  height: 500px;
  width: 500px;
  background-color: #FFFFFF;
  box-shadow: 7px 8px 9px 8px rgb(207, 207, 207);
}

.sub-main1 {
  margin: auto;
}

h1 {
  text-align: center;
}

input {
  height: 50px;
  width: 400px;
  border-radius: 5px;
  padding-left: 25px;
}

.username {
  margin-top: 20px;
}

.password {
  padding-top: 20px;
  padding-bottom: 20px;
}

button {
  background-color: blue;
  border-radius: 5px;
  height: 50px;
  width: 400px;
  color: white;
  border: none;
  margin-top: 30px;
}
